
<div class="container">
    
  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header"><button type="button" (click) = "gotoAddcontact()" style="margin: 10px;" class="btn btn-success btn-lg">Add Contacts</button></div>
      <div class="card-body">
        <h6 class="card-title">Save your contacts here</h6>
        
        
        
      </div>
  </div>

  <br>

  <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header"><button type="button" (click) = "gotoEditcontacts()" style="margin: 10px;" class="btn btn-success btn-lg">View/Edit Contacts</button></div>
    <div class="card-body">
      <h6 class="card-title">View, Edit and Delete your contacts here</h6>
      
    
    </div>

  </div>















 
</div>


