<h3 class="maintitle">Welcome! Create your new account</h3><br>
<div class="form-group">
    <br>
    
  
    <h4 style="margin-left: 10px;">First Name</h4>
    <input class="form-control form-control-lg" [(ngModel)] = "first_name" id="usern1" type="text">
  
    <h4 style="margin-left: 10px;">Last Name</h4>
    <input class="form-control form-control-lg" [(ngModel)] = "last_name" id="usern12" type="text">
  
    <h4 style="margin-left: 10px;">Phone</h4>
    <input class="form-control form-control-lg" [(ngModel)] = "mphone" id="usern3" type="text">
  
    <h4 style="margin-left: 10px;">Password</h4>
    <input class="form-control form-control-lg" [(ngModel)] = "mpassword" id="password14" type="password">
  
    <button type="button" (click)="signUp()" style="margin: 10px;" class="btn btn-success btn-lg">Sign up</button>
  
    
  </div>