<br>

<h1 class="maintitle">PHONE BOOK</h1>
<hr>
<br>
<div class="mymenu">
  <a routerLink="/login"><button type="button" style="margin: 10px;" class="btn btn-info btn-lg">Log in</button></a>
  <a routerLink="/menu"><button type="button" style="margin: 10px;" class="btn btn-primary btn-lg">Menu</button></a>
  <a routerLink="/login"><button type="button" (click) = "logOut()" style="margin: 10px;" class="btn btn-danger btn-lg">Log out</button></a>
</div>
<hr>
<br>

<router-outlet></router-outlet>
<h6 id="footnote" class="maintitle">Created by: MAGNUM199</h6>